.h1 {
    padding: 0;
    font-size: 38px;
    font-weight: bolder;
    -webkit-text-stroke: 1px black;
}

.button {
    display: inline-block;
    padding: 0 25px;
    margin-right: 10px;
    background: #339DFF;
    color: #fff;
    text-decoration: none;
    font-size: 18px;
    font-weight: bold;
    line-height: 38px;
    /*border-radius: 50px;*/
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
    width: fit-content;
    text-align: center;
    cursor: pointer;
  }
  
  .button:hover {
    background: #fff;
    color: #339DFF;
    box-shadow: 0 4px 4px rgba(83, 100, 255, 0.32);
  }

  .mainDiv {
    width: 50%;
    height: 50%;
  }